html {
  font-size: 16px;
}

body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  background-image: url(../assets/images/background-image-blurred.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

nav {
  background: hsla(0, 0%, 0%, 0.2);
  padding: 1rem 2rem;
}

nav img {
  height: 50px;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 4rem auto 150px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.album-details {
  animation-name: fadeIn;
  animation-duration: 3s;
}


#album-info {
  overflow: hidden;
  clear: right;
  width: 40%;
  display: inline-block;
}

#album-cover-art {
  float: left;
  margin-right: 2rem;
  position: relative;
  width: 250px;
  max-width: 100%;
  border: .5px solid #323232;
  border-style: inset;
  box-shadow: 1px 2px 4px rgba(0,0,0,.5);
}

#album-details {
  text-align: left;
  padding: 0.5rem;
}

#album-title {
  font-size: 2.5rem;
  padding: .2rem;
  margin: 0;
}

h2.artist {
  font-weight: 100;
  font-size: 1.4rem;
  opacity: 0.9;
  padding: 0.1rem;
  margin: 0;
}

#release-info {
  opacity: 0.5;
  font-size: 0.8rem;
  padding: .2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
